# Dépendances (Très lourd, ne jamais mettre sur Git)
node_modules/

# Minecraft & Java (À ne pas mettre, c'est ce que le launcher télécharge)
runtime/
versions/
assets/indexes/
assets/objects/
assets/skins/
libraries/

# Configs personnelles et temporaires
config/app.json
temp_config.zip
*.log

# Fichiers OS
.DS_Store
Thumbs.db